<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css" />
<script src="/javascripts/TweenMax.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
	<defs>
	  <filter id="blur">
		  <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
	  </filter>
	</defs>
</svg>
<div class="container">
	<div class="content">
		<div class="gallery">
			<ul class="gallery-pictures">
				<li class="gallery-picture">
					<img src="/images/1.jpg" alt="img01">
				</li>
				<li class="gallery-picture">
					<img src="/images/2.jpg" alt="img02">
				</li>
				<li class="gallery-picture">
					<img src="/images/3.jpg" alt="img03">
				</li>
				<li class="gallery-picture">
					<img src="/images/4.jpg" alt="img04">
				</li>
				<li class="gallery-picture">
					<img src="/images/5.jpg" alt="img05">
				</li>
				<li class="gallery-picture">
					<img src="/images/6.jpg" alt="img06">
				</li>
				<li class="gallery-picture">
					<img src="/images/7.jpg" alt="img07">
				</li>
				<li class="gallery-picture">
					<img src="/images/8.jpg" alt="img08">
				</li>
				<li class="gallery-picture">
					<img src="/images/9.jpg" alt="img09">
				</li>
			</ul>
			<div class="gallery-pagination">
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
				<button class="gallery-pagination-dot"></button>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/gallery.js"></script>
</body>
</html>
