<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script type="text/javascript">
function copyHref(user){
	if(user == 'null' || user =="undefined"){
		alert("请登录！");
		return;
	}else{
		window.location.href = "/user/publishTravelnotes";
	}
}

</script>
</head>
<body>
	<div class="top_bar clear" >
	<h1 class="logo"><a href="#"><img src="../images/logo.png" alt="logo" /></a></h1>
   
    <%if(!user){%>
     <ul class="login">
    	<li><a href="#">QQ登陆</a></li>
        <li><a href="/auth/github">github登录</a></li>
        <li><a href="/login">登陆</a></li>
        <li><a href="/register">注册</a></li>
        </ul>
    <%}else{%>
    
    <div class="userlogin1">
    	<a class="img" href="#"><img src="<%=user.headIcon %>" style="width:60px; height:60px"/></a>
        <div class="text">
        	<span>欢迎，</span><strong><a href="/user/userhome"><%=user.nickname%></a></strong>
        	<a href="#">设置</a><span>|</span><a href="/logout">退出</a>
        	<ul>
        		<li><a href="/user/userhome">我的首页</a><span>|</span></li>
            	<li><a href="/user/userhome">我的游记</a><span>|</span></li>
            	<li><a href="#">申请管理</a></li>
        	</ul>
        </div>
    </div>
    <%}%>
  
</div>
<div class="head">
	<ul class="nav">
    	<li><a href="/">首页</a></li>
        <li><a href="#">驴友日记</a></li>
        <li><a href="#">找地主</a></li>
        <li><a href="#">找驴友</a></li>
        <li><a href="javascript:void(0);" onclick="copyHref('<%=user%>')">发表日记</a></li>
    </ul>
    <div class="serch">
		<form action="#">
    		<input class="text" type="text" value="搜索" />
        	<input class="btn" type="submit" value="GO" />
    	</form>
    </div>
</div>
</body>

</html>