<html>
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript">
function copyHref(user){
	if(user == 'null' || user =="undefined"){
		alert("请登录！");
		return;
	}else{
		window.location.href = "/user/publishTravelnotes";
	}
}

</script>
</head>
<body>
	<div class="row">
		<div class="span6">
			<p>
				<em>这是一个首页的LOG</em>
			</p>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<div class="span6">
					<%if(!user){%> <span><a href="#">QQ登陆</a></span> <span><a
						href="#">微博登陆</a></span>
				</div>
				<div class="span6">
					<span><a href="/login">登陆</a></span> <span><a
						href="/register">注册</a></span> <%}else{%>
					<div class="span7">
						<img src="/images/favicon.ico" class="img-rounded" alt="" />
					</div>
					<div class="span7">
						<span>欢迎,<a href="/user/userhome"><B><%=user.name%></B></span> </a><a href="#">设置</a> 
							<a href="/logout">退出</a> <br> <a href="/user/userhome">我的首页</a> <a href="/user/userhome">我的游记</a>
					</div>
					<%}%>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="span9">
			<ul class="breadcrumb">
				<li>
					<a class="btn btn-default" href="/home">首页</a> <span class="divider"></span>
				</li>
				<li>
					<a class="btn btn-default" href="#">驴友日记</a> <span class="divider"></span>
				</li>
				<li class="active">
					<a class="btn btn-default" href="#">找地主</a> <span class="divider"></span>
				</li>
				<li>
					<a class="btn btn-default" href="#">找驴友</a> <span class="divider"></span>
				</li>
				<li>
				<input class="btn btn-default" type="button" value="发布游记" onclick="copyHref('<%=user%>')" ></input>		
				</li>
			</ul>
		</div>
	</div>
</body>

</html>