<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%=title%></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<link href="/stylesheets/public.css" rel="stylesheet" />
<link href="/stylesheets/publishDiary.css" rel="stylesheet" />
<script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>

<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- 富文本编辑 -->
<script type="text/javascript" charset="utf-8"
	src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8"
	src="/ueditor/third-party/jquery-1.10.2.js"></script>

<script type="text/javascript">
$(function(){  
    $('#file_upload').click(function(){    
        var data = new FormData();  
        var files = $('#file')[0].files;       
        if (files) {  
            data.append('codecsv',files[0]);  
        }                 
        $.ajax({  
            cache: false,  
            type: 'post',  
            dataType: 'json',  
            url:'upload',                     
            data : data,  
            contentType: false,  
       		processData: false,  
            success : function (data,status) {  
                  if(status="success"){
                	  alert(data.data);
                	 $('#imageUrl').val(data.data); 
                  }
            }  
        });  
    });  
      
});



</script>
</head>
<body>
<%- include header.html %>

<div class="main">
	<div id="form_body">
		<form id="publish">
			<div class="textRight">
            	<label for="title">标题:</label>
            	<input class="text" type="text" placeholder="标题" name="title" id="title" />
            	<span></span>
         	</div>
         	<div class="textRight">
            	<label for="start">出发地:</label>
            	<input class="text" type="text" placeholder="province" name="start" id="province"/><span></span>
            	<input class="text" type="text" placeholder="city" name="city" id="city"/><span></span>
            </div>
            <div class="textRight">
           		<label for="end">目的地:</label>
            	<input class="text" type="text" placeholder="destination" name="end" id="destination"/><span></span>
         	</div>
         	<div class="textRight">
         		<label>封面图片:</label>
                <input type="text" class="text" readonly="readonly" placeholder="图片URL" id="imageUrl"/>
                <input type="file" class="uploadFile" size="30" id="file"/>
                <input type="button"  class="upload" value="上传" id="file_upload"/>
         	</div>
         	<div class="textRight">
            	<label for="startTime">出发时间:</label>
            	<input class="text" type="text" placeholder="starttime" name="startTime" id="startTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',lang:'zh-cn',maxDate:'#F{$dp.$D(\'endTime\')}'})"/>
            	<span></span>
         	</div>
         	<div class="textRight">
         		<label for="endTime">结束时间:</label>
            	<input class="text" type="text" placeholder="endtime" name="startTime"  id="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',lang:'zh-cn',minDate:'#F{$dp.$D(\'startTime\')}'})""/>
            	<span></span>
        	</div>
        	<div class="textRight">
         		<label for="spendTime">旅行天数:</label>
            	<input class="text" type="text" placeholder="spendTime" name="spendTime"  id="spendDays"/>天
            	<span></span>
        	</div>
         	<div class="textRight">
         		<label>人均花销:</label>
            	<select id="preSpending">
            		<option>--请选择--</option>
                	<option>500元以下</option>
                	<option>500-1000元</option>
                	<option>1000-3000元</option>
            	</select>
            	<span></span>
        	</div>
        	<div class="textRight">
         		<label>出行方式:</label>
            	<select id="travelMode">
                	<option>--请选择--</option>
                	<option>自由行</option>
                	<option>跟团</option>
                	<option>自驾</option>
            	</select>
            	<span></span>
        	</div>
        	<div class="wrap">
        		<label for="content">内容:</label>
                <div class="content">
                <script id="editor" type="text/plain"
								style="width: 610px; height: 300px;" ></script>
                </div>
        	</div>
        	<div class="wrap">
        		<label for="hint">友情提示:</label>
                <div class="content">
                <textarea  rows="10" name="hint" cols="100" id="tips" class="form-control">
                </textarea>
                </div>
       		</div>
            <div class="sub_btn">
        		<input class="sbtn" type="button" value="提交" onclick="getContent()" />
            </div>   
    	</form>
    </div>
</div>

<script type="text/javascript">

var ue = UE.getEditor('editor');
function getContent() {
	var content = UE.getEditor('editor').getContent();
					
	var title = $('#title').val(),
		province = $('#province').val(),
		city = $('#city').val(),
		arrive = $('#destination').val(),
		converPric = $('#imageUrl').val(),
		startTime = $('#startTime').val(),
		endTime  =  $('#endTime').val(),
		spendDays =  $('#spendDays').val(),
		tips = 		$('#tips').val(),
		preSpending = $('#preSpending').val(),
	    travelMode = $('#travelMode').val();
	var data = {
			"title":title,
			"province":province,
			"city":city,
			"arrive":arrive,
			"converPric":converPric,
			"startTime":startTime,
			"endTime":endTime,
			"preSpending":preSpending,
			"travelMode":travelMode,
			"content":content,
			"tips":tips,
			"spendDays":spendDays
	};
	$.ajax({
		url:'/user/saveTravelNotes',
		type:'POST',
		data:data,
		success:function(data,status){
			if(status=='success'){
				alert('游记发布成功!');
        window.location.href = '/user/userHome';
			}
		},
		error:function(data,err){
			window.location.href = '/404';
		}
	});
}

</script>
<%- include footer.html%>
</body>
</html>
