<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%=title%></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/public.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/diaryDetails.css" />


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/showDetail.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
</head>
<body>
	<%- include header.html%>
	<div class="main clear">
		<!-- 中间结构左侧内容 -->

		<div class="diary_content">
			<%if(travelnote){ %>
			<h1><%- travelnote.title%></h1>
			<input type="hidden" value="<%-travelnote._id%>" id="ids">
			<input type="hidden" value="<%-travelnote.creator_id%>" id="creator_id">
			<p class="author">
				作者：<a href=""><%- travelnote.creator_name%></a>&nbsp;&nbsp;&nbsp;&nbsp;收藏<%-travelnote.collection_number%>/评论<%-travelnote.comments.length
				%>&nbsp;&nbsp;发布时间:<%-travelnote.create_time %>&nbsp;&nbsp;
			</p>
			<!-- 日记内容 -->
			<div class="diaryDetail">
				<div class="wrap">
					<div class="jiathis_style">
						<a class="jiathis_button_qzone"></a>
						<a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a>
						<a class="jiathis_button_weixin"></a> <a
							class="jiathis_button_renren"></a> <a
							href="http://www.jiathis.com/share?uid=2038298"
							class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis"
							target="_blank"></a> <a class="jiathis_counter_style"></a>
					</div>
				</div>
				<div class="diaryTips">
					<script type="text/javascript">
						var jiathis_config={
							data_track_clickback:true,
							hideMore:false
						}
					</script>
					<script type="text/javascript"
						src="http://v3.jiathis.com/code/jia.js?uid=2038298"
						charset="utf-8"></script>
					<!-- JiaThis Button E-->
					<ul>
						<li>出 发 地：<%-travelnote.start_province%>-<%-
							travelnote.start_city%></li>
						<li>目 的 地：<%- travelnote.arrive_place%></li>
						<li>旅行时间：<%-travelnote.start_time%> - <%-
							travelnote.end_time%></li>
						<li>行程时间：7天</li>
						<li>人均花销：<%- travelnote.per_spending%></li>
						<li class="tag1">出行方式：<%- travelnote.travel_mode%></li>
					</ul>
				</div>
				<div class="contents">
				<%- travelnote.content%>
				</div>
				<hr>
				<p>友情提示：<%- travelnote.tips%></p>
			</div>
			<%}%>
			<!-- 评论区 -->
			<div class="comment clear">
				<h2>发表评论</h2>
				<div class="user">
					<%if(user){%> <img class="user_img" src="../images/usericon/1.gif" />
					<a><%=user.nickname%></a>
					<p style="display:none" id="current_id"><%-user._id%></p>
					 <%}else{%> <img class="user_img"
						src="../images/usericon/1.gif" /> <a href="#">请去登录</a> <%}%>
				</div>
				<div class="textArea">
					<form>
						<textarea class="text" cols="74" rows="8" name="" id="contents"></textarea>
						<input class="btn" type="button" value="发表评论" onclick="postComments()"/>
					</form>
				</div>

			</div>
			<div class="otherWords">
				<h2>驴友的评论</h2>
				<div class="owList">
					<ul>
					<%for(var i in comments){ if(!comments[i].comment_content)continue;%>
						<li><%- (parseInt(i)+1)%>楼:评论人：<%-comments[i].comment_user_nickname%> <br>评论内容:<%-comments[i].comment_content -%></li>
					<%}%>
					</ul>
				</div>
			</div>
		</div>
		<div class="recommend">
			<div class="in">
				<a class="like" id="likes" href="javascript:void(0)" onclick="likeNote()"><%-travelnote.praise_number%>人喜欢</a>
				 <a class="coll" id="colls" href="javascript:void(0)" onclick="ConnectionTravelNotes()"><%-travelnote.collection_number%>人收藏</a>
			</div>
			<div class="wonderful_notes">
				<h4>精彩游记</h4>
				<ul>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
					<li><a href="#">啦啦啦德玛西亚</a></li>
				</ul>
			</div>
		</div>
	</div>

	<%- include footer.html%>
	<!--[if IE 6]>
<script type="text/jscript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script>
DD_belatedPNG.fix('*');
</script>
<![endif]-->
</body>
</html>


















