<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%=title%></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>

<script src="/javascripts/swfobject.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<%- include header.html %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
				<%= user.name %>
		</div>
		
		<div class="span4">
			
		</div>
	</div>
	<div class="row">
		<div class="span12">
			 <address><strong>@copyright for allen</strong></address>
		</div>
	</div>
</div>
</body>
</html>
