<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%=title%></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>

<script src="/javascripts/swfobject.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<%- include header.html %>
		</div>
	</div>
	<div class="row">
	
		<div class="span2">
			<div >
				<img alt="" src="">
			</div>	 
            <div>
            	<p>用户名</p>
            	<p>发布游记：0篇  收藏游记：0篇   粉丝：0人  关注：0人 	(地主、驴友)好评程度：5星</p>
            </div>
            <hr>
            <p><b>个人简介</b></p>
          
		</div>
	</div>
	<div>
	<a href="">我的游记</a>
	<a href="">地主资料</a>
	<a href="">找驴友信息</a>
	</div>
</div>
</body>
</html>
